.animatedBtn{
  position: relative;
  width: 103px;
  height: 42px;
  background-color: var(--primary-variant);
  border: 2px solid var(--secondary-variant);
  padding: 0.5rem 1.875rem;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  transition: .8s ease all;
  cursor: pointer;
}

.circle {
  position: absolute;
  background-color: var(--secondary);
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  border-radius: 50%;
}

@keyframes slidecircleright {
  from {
    left: 0;
  }

  to {
    left: 60%;
  }
}


@keyframes slidecircleleft {
  from {
    left: 60%;
  }

  to {
    left: 0;
  }
}

._circleRight {
  animation: slidecircleright 1s forwards;
}

._circle {
  position: absolute;
  height: 100%;
  width: 40px;
  border-radius: 50%;
  animation: slidecircleleft 1s forwards;
}
