.themeSwitchBtn {
  position: relative;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  transition: .8s ease all;
  cursor: pointer;
}

.sun {
  position: absolute;
  top: 0;
  right: 0;
}

.moon {
  display: none;
}

._moon {
  display: inline-block;
  ;
}

._sun {
  display: none;
}