.calculatorWrapper {
  background-image: url(../images/math-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  position: absolute;
  background: #081D36;
  width: 250px;
  height: 410px;
  border-radius: 8px;
  left: calc(50vw - 125px);
  top: 25vh;
  border: 3px solid var(--secondary);
}

.screen {
  border-radius: 8px 8px 0 0;
  background: #18314F;
  width: 100%;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.visor {
  width: 100%;
  text-align: right;
  background: transparent;
  border: none;
  color: #E6F9AF;
  font-size: 1rem;
}

.btnNumbers {
  color: #E6F9AF;
}

.btn {
  border: none;
  color: #C8F152;
  padding: 0;
  background: transparent;
  margin: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  font-size: 1rem;
  justify-self: center;
  align-self: center;
}

.operationsWrapper {
  height: calc(410px - 150px);
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 50px 200px;
  grid-template-areas:
    "other-operations math-operators"
    "numbers math-operators";
}

.otherOperations {
  height: 50px;
  display: grid;
  grid-area: other-operations;
  grid-template-areas:
    "1 2 3"
}

.mathOperators {
  color: #C8F152;
  display: grid;
  grid-area: math-operators;
  text-align: center;
}

.c {
  color: orange;
}

.numbers {
  text-align: center;
  display: grid;
  grid-area: numbers;
  grid-row: 2 / 3;
  grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9"
    "V 0 .";
}