@font-face {
  font-family: "Supernatural Knight";
  src: url(/src/assets/fonts/supernatural_knight/supernatural_knight-webfont.woff) format("woff");
}

.wrapperHelloWorld {
  font-family: 'Supernatural Knight', cursive;
  /* background-color: #202024; */
  text-align: center;
  height: 100vh;
  background-image: url(/src/assets/images/jr-korpa-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  position: absolute;
  color: #90121A;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadein 1.2s ease-in 0s 1 both;
}

.backBtn {
  position: absolute;
  font-weight: bold;
  font-size: 7rem;
  left: 40px;
  color: #0D0630;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn .text {
  font-size: 2rem;
  margin-left: 20px;
}

@keyframes fadein {
  from {
    font-size: 3rem
  }

  to {
    font-size: 7rem
  }
}



