@import url(css/hello-world.css);
@import url(css/animated-button.css);
@import url(css/calculator.css);
@import url(css/page-not-found.css);

:root {
  --body-bg: #0D0630;
  --primary: #18314F;
  --primary-variant: #081D36;
  --secondary: #E6F9AF;
  --secondary-variant: #C8F152;
  --text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: var(--body-bg);
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3.5rem;
  color: var(--secondary);
}

.title .code {
  color: var(--primary);
}

.title .code span {
  color: var(--secondary-variant);
}

.cards {
  width: 1550px;
  max-width: 1550px;
  margin-top: 7.75rem;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.card footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .card:not(:last-child) {
  margin-right: 30px;
}

.card {
  width: 286px;
  height: 310px;
  background: var(--primary);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  color: var(--text-color);
  padding: 13px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: .8s ease all;
}

._card {
  background: var(--secondary-variant);
  transition: .8s ease all;
  color: var(--primary);
}

.card:hover {
  transform: scale(1.1);
}

.challenge-id {
  position: absolute;
  font-size: 2rem;
  color: var(--secondary-variant);
  font-weight: bold;
  right: 22px;
  top: 8px;
}

._challenge-id {
  color: var(--body-bg);
}

.card .project-info {
  margin-top: 4.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .project-info h2 {
  font-size: 1.5rem;
}

.card .description {
  font-size: 1.3rem;
  margin-top: 20px;
}

.stack {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.view-btn {
  border: 2px solid var(--secondary-variant);
  padding: 0.5rem 1.875rem;
  color: var(--text-color);
  border-radius: 8px;
  font-weight: bold;
}

.view-btn:hover {
  background-color: var(--secondary-variant);
  color: var(--body-bg);
}