@import url(assets/css/calculator.css);
@import url(assets/css/page-not-found.css);
@import url(assets/css/glassmorphism.css);
@import url(assets/css/counter.css);
@import url(assets/css/loading.css);
@import url(assets/css/form-login.css);

:root {
  --body-bg: #0D0630;
  --primary: #18314F;
  --primary-variant: #081D36;
  --secondary: #C8F152;
  --secondary-variant: #D6EF8C;
  --text-color: #F0FFC5;
  --text-code-primary: #1EA494;
  --text-code-secondary: #494F57;
}

[data-theme='light'] {
  --body-bg: #E6F9AF;
  --primary: #C8F152;
  --primary-variant: #D6EF8C;
  --secondary: #081D36;
  --secondary-variant: #18314F;
  --text-color: #0D0630;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

button {
  font-family: 'Noto sans', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

body {
  background: var(--body-bg);
}

body, input, textarea, button {
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
}

.card footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stack {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.view-btn {
  border: 2px solid var(--secondary);
  padding: 0.5rem 1.875rem;
  color: var(--text-color);
  border-radius: 8px;
  font-weight: bold;
}

.view-btn:hover {
  background-color: var(--secondary);
  color: var(--body-bg);
}
